[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=<Application Name Goes here>
Comment=
Exec=  sudo python3 /home/pi/transfers/incuBetter_Main.py
StartupNotify=false
Terminal=true
Hidden=false
